/* ====================== Testimonial ================*/
.testimonial-carousel .text-center{
    background-color: #eaecf0d0;
    border-radius: 20px;
    margin: 20px;
  
  }
  .testimonial-carousel .text-center h4{
  
  }
  
  .testimonial-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
  }
  
  .testimonial-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #dddddd;
  }
  
  .testimonial-carousel .owl-dot.active {
    background: #0BCEAF;
  }
  
  